build/
*.iml
*.iws
*.ipr
*.jar
!**/gradle/wrapper/gradle-wrapper.jar
.gradle
.idea
**/local/*.properties
**/local/logback.xml
**.log

#debuild
*/debian/*.log
*/debian/files
*/debian/postinst.debhelper
*/debian/postrm.debhelper
*/debian/substvars
*/debian/tmp/

#build deb result
/*.dsc
/*.tar.gz
/*.deb
/*.rpm
/*.build
/*.changes
/*.upload
*/debian/yandex-*
!*/debian/*monrun
!*/debian/*init
*/debian/debhelper-build-stamp
out
.gradletasknamecache
dataSources
classes/
